<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
{% for item in items %}
    <h1> Total Distance: {{ item.distance }} </h1>
    <p> Control KM: {{ item.km }} <p>
    <p> Begin Date: {{ item.begind }} <p>
    <p> Begin Time: {{ item.begint }} <p>
    <p> Open: {{ item.open }} <p>
    <p> Close: {{ item.close }} <p>
{% endfor %}
<html>
    <p>Go back to <a href="{{ url_for("index") }}">the home page</a>?</p>
</html>