<html>
<head>
  <title>No Data given</title>
</head>
<body>
<h1>Try again bucko</h1>
  <p>Error: There is no data given to input</p>
<p>Go back to <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>
